services:
  backend:
    container_name: "backend"
    restart: unless-stopped

  frontend:
    container_name: "frontend"
    build:
      dockerfile: Dockerfile
    volumes:
      - ./icons:/frontend/public:ro
    environment:
      - CHOKIDAR_USEPOLLING=false
    restart: unless-stopped

  nginx:
    container_name: "nginx"
    image: nginx:mainline-alpine3.23-slim
    ports:
      - "80:80"
    volumes:
      - ./nginx.dev.conf:/etc/nginx/conf.d/default.conf
    command: ["nginx", "-g", "daemon off;"]
