:root {
  --pico-font-size: .93rem;
}
.item {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 10px;
    width: 285px;
    box-shadow: 0 2px 8px rgba(0 0 0 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.list-item {
    list-style-type: none;
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
    gap: 10px;
    padding: 20px;
}

.search-bar {
  border: 1px solid #ccc;
}

/* .search-bar:hover {
  border: none
} */

.search-options {
  padding: 12px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* overrides the default pico behavior of setting all elements to max width for search options */
.search-options > * {
  flex: 1;
  max-width: unset;
  width: auto;
}

.dropdown {
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* .dropdown:focus {
  outline: none;
  border-color: #007bff;
} */

.main-btn {
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
  padding: 6px 14px;
  transition: background 0.2s;
}

.stepper-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 10px;
  text-align: center;
}

/* overrides the default pico behavior of setting all elements to max width for search options */
.div-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.div-align > * {
  flex: 1;
  max-width: unset;
  width: auto;
}

.items-container {
  display:grid;
  grid-template-columns: 1fr 300px;
  width:100%;
}