:root {
  --pico-font-size: 0.93rem;
}

/* this encompasses both the ItemScrollComponent and ItemCartComponent */
.items-container {
  display: grid;
  grid-template-columns: 1fr 300px;
  width: 100%;
}

.list-item {
  list-style-type: none;
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  gap: 10px;
  padding: 20px;
}

.item {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  /* width: 285px; */
  width: 92%;
  box-shadow: 0 2px 8px rgba(0 0 0 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-cart {
  padding: 18px;
}

/* this makes the ItemsComponent display items vertically */
@media only screen and (max-width: 767px) {
  .items-container {
    grid-template-columns: 1fr;
  }

  .list-item {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .item {
    width: auto;
    max-width: 275px;
  }
}

.search-bar {
  border: 1px solid #ccc;
}

.search-options {
  padding: 12px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

/* overrides the default pico behavior of setting all elements to max width for search options */
.search-options > * {
  flex: 1;
  max-width: unset;
  width: auto;
}

.dropdown {
  border: 1px solid #ccc;
  border-radius: 8px;
}

.main-btn {
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  padding: 6px 14px;
  transition: background 0.2s;
}

/* this height adjustment is to make it the same height as the dropdowns and search bar */
.search-btn {
  height: 47px;
}

.stepper-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 10px;
  text-align: center;
}

.div-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

/* overrides the default pico behavior of setting all elements to max width for search options */
.div-align > * {
  flex: 1;
  max-width: unset;
  width: auto;
}
